body {
    background: linear-gradient(#f593a4, white);
}
#textContainer {
margin: 0 auto;
height: 40em;
}
#resourceBlock {
    background: linear-gradient(white, #0000ff1a);
}
.header {
    text-align: center;
    height: 2em;
    font-size: 3em;
}
#toolbar {
    background-color: azure;
}
#editor {
    background-color: ghostwhite;
}