body {
    /* background: linear-gradient(#f593a4, white); */
    background-color: aliceblue;
}
.ql-toolbar {
    background-color: azure;
    /* visibility: hidden; */
    text-align: center;
    opacity: 0.8;
}
/* .ql-toolbar:hover {
    visibility: visible;
} */
/* #textContainer {
margin: 0 auto;
height: 40em;
} */
#resourceBlock {
    background: linear-gradient(white, #0000ff1a);
    box-shadow: 0px 0px 40px lightsteelblue;
}
.page-header {
    text-align: center;
    height: 11em;
    /* font-size: 3em; */
}
#editor {
    background-color: ghostwhite;
    overflow: scroll;
    height: 39em;
    box-shadow: 0px 0px 40px lightsteelblue;
}
#viewNotes {
    border-radius: 54%;
    height: 4em;
}
#viewNotes:hover {
    cursor: pointer;
}
#resources {
    text-align: center;
}
#logo {
    height: 26em;
    position: fixed;
    bottom: 59%;
    left: 12%;
}